body,html,.row-offcanvas {
  height:100%;
}

body {
  background: rgba(0, 0, 0, 0) url("../images/grey.png") repeat scroll 0 0;
  padding-top: 50px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

/*
* off Canvas sidebar
* --------------------------------------------------
*/
@media screen and (max-width: 768px) {
  .row-offcanvas {
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  
}

.row-offcanvas-left
{
  left: -220px;
}

.row-offcanvas-left.active {
  left: 0;
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
}
}





blockquote {
  border-left: medium none;
  margin: 40px 5% 38px;
  padding: 0;
  position: relative;
}
blockquote p {
  color: #4db2ec;
  font-family: "Roboto",sans-serif;
  font-size: 25px !important;
  font-style: italic;
  font-weight: 400;
  line-height: 34px !important;
  overflow-wrap: break-word;
  text-align: center !important;
  text-transform: uppercase;
}
.kalema {
  display: block;
  font-size: 25px !important;
  color: #339966;
  padding: 10px 0 !important;
  line-height: 32px !important;
}
.urdu p, .urdu li {
  text-align: right;
  font-size: 17px !important;
  line-height: 24px !important;
  font-weight: normal !important;
}

.urdu h2, .urdu h3{
  text-align: right;
} 

